<%- include('../partials/header') %>


<% if (user) { %>
  
<p id="directions">Storytime is an improv game where a player starts a story with a declarative statement. 
Other players jump in, adding snipets of information until you have a completely fleshed out tale.</p>
 

    
<form id="story-form" method="POST" action="/stories">
    <textarea id="text-area" name="title" maxlength="60"></textarea>
    <input id="button" type="submit" value="Add Story">
</form>  

  


<% } else { %> 
<div id="login-div">
<h5>Log in to start a story!</h5>
</div>

<% } %>


<%- include('../partials/footer') %>