 /* * {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

 body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,  #add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

 #add-review-form {
   display: grid;
   grid-template-columns: auto auto;
   grid-gap: 1rem;
 }

 #add-review-form input[type="submit"] {
   width: 8rem;
   grid-column: 2 / 3;
   margin-bottom: 2rem;
 }


 ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: ;
  margin-left: -125px;
  margin-bottom: -5px;
}  

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

#comment-page {
  display: inline;
} 
 */

/* nav {
  background-color: gray;
  padding: 5px;
} */

 body {
  position: absolute;
  background-image: url('../images/campfire.gif');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 

h1 {
  font-family: 'My Soul', cursive;
  font-size: 80px;
  text-align: center;
  color: red;
  padding: 30px;
}

#directions {
  text-align: center;
  color: orange;
  max-width: 30%;
  margin: 0 auto;
  padding: 5px;
  font-weight: bolder;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#story-form {
  text-align: center;
  padding: 150px;
  position: absolute;
  left: 411px;
  top: 234px;
}

#list {
  text-align: center;
  width: 100vw;
  color: orange;
  position: relative;
  left: 100px;
}

.login img {
  height: 30px;
  text-align: center;
}

#button {
  position: relative;
  top: 24px;
  left: -129px;
  background-color: orange;
  font-family: Impact;
}

#login-div {
  width: 100vw;
  text-align: center;
  color: orange;
  padding: 120px;

}

a {
  color: orange;
  text-decoration: none;
}

#text-area {
  background: gray;
  color: rgb(54, 39, 10);
}

#show-page{
  color: orange;
}

#comment-page {
  color: orange;
}

