 body {
  position: absolute;
  background-image: url('../images/campfire.gif');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 

h1 {
  font-family: 'My Soul', cursive;
  font-size: 80px;
  text-align: center;
  color: red;
  padding: 30px;
}

#directions {
  text-align: center;
  color: orange;
  max-width: 30%;
  margin: 0 auto;
  padding: 5px;
  font-weight: bolder;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#story-form {
  text-align: center;
  padding: 150px;
  position: absolute;
  left: 411px;
  top: 234px;
}

#list {
  text-align: center;
  width: 100vw;
  color: orange;
  position: relative;
  left: 315px;
  top: -59px;
  max-width: 60%;
}

.login img {
  height: 30px;
  text-align: center;
}

#button {
  position: relative;
  top: 24px;
  left: -129px;
  background-color: orange;
  font-family: Impact;
}

#login-div {
  width: 100vw;
  text-align: center;
  color: orange;
  padding: 120px;

}

a {
  color: orange;
  text-decoration: none;
}

#text-area {
  background: red;
  color: rgb(54, 39, 10);
}

#show-page{
  color: orange;
  width: 100vw;
  text-align: center;
}

#comment-page {
  color: orange;
}

#ta {
  background: rgb(202, 12, 12);
  position: relative;
  left: 40px;
  
}

#add-review-form {
  text-align: center;
}

#btn2 {
  position: relative;
  top: 24px;
  left: -75px;
  background-color: orange;
  font-family: Impact;
}

#comment-page {
  text-align: center;
  position: relative;
  top: 0px;
}

#xBtn {
  background-color: orange;
  font-family: Impact;
  position: relative;
  left: 151px;
  top: -25px;
}

#editBtn {
  background-color: orange;
  font-family: Impact;
  position: relative;
  top: 24px;
  left: -95px;
}

#editBtn2 {
  background-color: orange;
  font-family: Impact;
  position: relative;
  top: -55px;
  left: 187px;
}

#ta2 {
  background-color: red;
  color: black;
  position: relative;
  left: 8px;
}

#editForm {
  width: 100vw;
  text-align: center;
  
}

p {
  margin-bottom: auto;
}
